[#escape x as (x)!?html]
<html><head>
<meta charset="UTF-8">
</head>
<body>
 <!--通用底部 start-->
    <!--底部菜单与logo start-->
       <div class="footer">
        <div class="wrap">
            <div class="links">
                <b>友情链接：</b>
                <div class="link_list">
                    <a href="">雅芳中国</a>
                    <a href="">百雀羚</a>
                    <a href="">自然堂</a>
                    <a href="">巴黎欧莱雅</a>
                    <a href="">谷歌</a>
                    <a href="">百度</a>
                    <a href="">FACEBOOK</a>
                    <a href="">腾讯</a>
                    <a href="">窃美记</a>
                    <a href="">滴滴打车</a>
                    <a href="">美图秀秀</a>
                    <a href="">新浪中国</a>
                </div>
            </div>

            <div class="foot_bt clearfix">
                <div class="bl">
                    <img src="_files/css/img/logo.png" alt="" class="logo">
                    <div class="bl_main">
                        <p>
                            <a href="#">关于大康</a>
                            <a href="#">诚聘英才</a>
                            <a href="#">联系我们</a>
                            <a href="#">各地辅导站</a>
                        </p>
                        <p>西安大康心理咨询中心   陕ICP备12003221号</p>
                    </div>
                </div>
                <div class="br">
                    <a href="#" class="icon-weibo"></a>
                    <a href="#" class="icon-wx"></a>
                    <a href="#" class="icon-douban"></a>
                    <span><i class="icon-phone"></i>心理培训：029-85264680  心理咨询：029-88135388</span>
                </div>
            </div>
        </div>
    </div>


    <div class="side_fixed">
        <a href="#header">TOP</a>
        <a href="javascript:;">
            <span class="icon-wx"></span>
            <div class="pop clearfix">
                <img src="_files/upload/side_qrcode1.png" alt="">
                <img src="_files/upload/side_qrcode2.png" alt="">
            </div>
        </a>
        <a href="javascript:;"><span class="icon-service"></span></a>
        <a href="javascript:;">
            <span class="icon-phone2"></span>
            <div class="pop clearfix">
                <b>联系电话</b>
                <p>保健院（心理咨询 029-88135388）</p>
                <p>学　校（报名咨询 029-85264680）</p>
            </div>
        </a>
    </div>
        <!--底部菜单与logo end-->
    <!--通用底部 end-->


</body>
</html>

[/#escape]
